body {
margin: 0px;
padding: 0px;
background: #000;
}

#nebo {
position: relative;
width: 100vw;
height: 100vh;
background: linear-gradient(to bottom, #cee, #fde, #001);
background-size: 100vw 700vh;
animation: nebo-animation 10s ease-out forwards,
fade-out 3s linear 10s 1 normal forwards;
}

#sunce {
position: absolute;
background: #ffc;
width: 10vw;
height: 10vw;
top: 5vh;
left: 45vw;
border-radius: 50%;
animation: sunce-animation 10s ease-out forwards;
}

#okean{
position: absolute;
background: #4cf;
width: 100vw;
top: 70vh;
height: 30vh;
animation: okean-animation 10s ease-out forwards;
}

#pijesak {
position: absolute;
background: #eed;
width: 100vw;
top: 90vh;
height: 10vh;
animation: pijesak-animation 10s ease-out forwards;
}

@keyframes nebo-animation {
0% {
background-position: 0vw 600vh;
}
50% {
background-position: 0vw 300vh;
}
100% {
background-position: 0vw 100vh;
}
}

@keyframes sunce-animation {
0% {
top: 5vh;
background: #ffc;
}
100% {
top: 75vh;
background: #f61;
}
}

@keyframes okean-animation {
0% {
background: #4cf;
}
100% {

background: #135;
}
}

@keyframes pijesak-animation {
0% {
background: #eed;
}
100% {

background: #334;
}
}


@keyframes face-out {
0% {

}
100% {

opacity: 0.0;
}
}









