/* 
@keyframes određuje korake animacije,
a zatim se ta animacija primijeni na element
pomoću svojstva animation
*/

@keyframes prva-animacija {

    0% {
        width: 10px;
        height: 10px;
        background-color: red;
    }

    20% {
        width: 300px;
        height: 300px;
        background-color: orange;
        border-radius: 100px;
    }

    50% {
        width: 40px;
        height: 40px;
        background-color: yellow;
        border-radius: 0px;
    }

    100% {
        width: 400px;
        height: 50px;
        background-color: green;
    }
}

#element {
    display: inline-block;
    border: 1px solid black;
    box-sizing: border-box;

    animation: prva-animacija 4s forwards;
}