.pulsirajuci {
    width: 150px;
    height: 150px;
    background-color: blue;
    color: white;
    border-radius: 10px;
    border: none;
    font-weight: bold;
    cursor: pointer;
    transition: transform 0.2s;
}

.pulsirajuci:hover {
    animation: pulsiranje 1.5s infinite alternate;
}

@keyframes pulsiranje {
    0% {
        transform: scale(1); /* originalna veličina */
        background-color: blue;
    }
    50% {
        transform: scale(1.3); /* 1.3 puta veće od originala */
        background-color: purple;
    }
    100% {
        transform: scale(1);
        background-color: cyan;
    }
}